<div class="login-container" [formGroup]="loginForm">
  <mat-card id="login-card" class="login-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Entra nel sistema
      </mat-card-title>
    </mat-card-header>

    <mat-form-field class="w-100">
      <input matInput formControlName="username" placeholder="Username">
    </mat-form-field>

    <mat-form-field class="w-100">
      <input matInput formControlName="password" type="password" placeholder="Password">
    </mat-form-field>

    <button mat-flat-button (click)="login()">Login</button>
    <button mat-flat-button (click)="registerNewAdmin()">Reg</button>
  </mat-card>
</div>

